/* fonts */
/* sizes */
/* colours */
/* mixins */
/* main */
@media (min-width: 900px) {
  /* line 68, grid.scss */
  .dashboard-container {
    display: grid;
    width: 100%;
    grid-template-columns: 5% repeat(9, 10%) 5%;
    grid-template-rows: 1fr; }
    /* line 71, grid.scss */
    .dashboard-container nav.menu {
      grid-row-start: 1;
      grid-column-start: 7;
      grid-column-end: span 4;
      margin: 70px 0 0 0; }
    /* line 78, grid.scss */
    .dashboard-container nav ul.menu {
      display: inline-grid;
      float: right;
      grid-template-columns: repeat(4, 100px);
      list-style: none; }
      /* line 83, grid.scss */
      .dashboard-container nav ul.menu li {
        margin: 0 auto; }
        /* line 85, grid.scss */
        .dashboard-container nav ul.menu li.selected {
          font-weight: 800; }
    /* line 92, grid.scss */
    .dashboard-container form {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: 2;
      display: inline-grid; }
      /* line 94, grid.scss */
      .dashboard-container form.summary {
        grid-template-columns: minmax(200px, 15%) 82px minmax(150px, 10%) 82px minmax(150px, 10%) 82px minmax(150px, 10%) 82px minmax(200px, 15%); }
    /* line 99, grid.scss */
    .dashboard-container div.col1 {
      grid-column-start: 1 !important; }
    /* line 102, grid.scss */
    .dashboard-container div.col2 {
      grid-column-start: 2 !important; }
    /* line 105, grid.scss */
    .dashboard-container div.col3 {
      grid-column-start: 3 !important; }
    /* line 108, grid.scss */
    .dashboard-container div.col4 {
      grid-column-start: 4 !important; }
    /* line 111, grid.scss */
    .dashboard-container div.col5 {
      grid-column-start: 5 !important; }
    /* line 114, grid.scss */
    .dashboard-container div.col6 {
      grid-column-start: 6 !important; }
    /* line 117, grid.scss */
    .dashboard-container div.col7 {
      grid-column-start: 7 !important; }
    /* line 120, grid.scss */
    .dashboard-container div.col8 {
      grid-column-start: 8 !important; }
    /* line 123, grid.scss */
    .dashboard-container div.col9 {
      grid-column-start: 9 !important; }
    /* line 126, grid.scss */
    .dashboard-container div.logo {
      grid-column-start: 1;
      grid-row-start: 1;
      max-height: 76px;
      width: 135px;
      margin: 20px; }
    /* line 133, grid.scss */
    .dashboard-container div.row-2 {
      grid-row-start: 2 !important; }
    /* line 136, grid.scss */
    .dashboard-container div.row-3 {
      grid-row-start: 3 !important; }
    /* line 139, grid.scss */
    .dashboard-container div.dashboard-report-left {
      grid-column-start: 1;
      grid-column-end: span 3; }
    /* line 143, grid.scss */
    .dashboard-container div.dashboard-report-right {
      grid-column-start: 4;
      grid-column-end: span 3; }
    /* line 147, grid.scss */
    .dashboard-container div.summary-input {
      grid-column-start: auto;
      grid-column-end: span 1;
      grid-row-start: 1; }
    /* line 152, grid.scss */
    .dashboard-container div.summary-select {
      grid-column: span 1;
      grid-column-start: auto;
      margin: auto; }
    /* line 157, grid.scss */
    .dashboard-container div.grid-summary-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 15% 8% 9% 9% 8% 11% repeat(5, 8%); }
      /* line 160, grid.scss */
      .dashboard-container div.grid-summary-table span {
        text-align: center;
        line-height: 2em;
        vertical-align: middle; }
        /* line 53, grid.scss */
        .dashboard-container div.grid-summary-table span.odd {
          background: #dddddd; }
        /* line 54, grid.scss */
        .dashboard-container div.grid-summary-table span.table-header {
          background: #a4edf7;
          font-weight: 600; }
        /* line 57, grid.scss */
        .dashboard-container div.grid-summary-table span.table-title {
          text-align: center;
          color: #f0ffff;
          line-height: 2.5em;
          background: #216f9f;
          grid-column-start: 1;
          grid-column-end: span 11;
          font-weight: 600;
          font-size: 1.25em;
          line-height: 2em; }
        /* line 60, grid.scss */
        .dashboard-container div.grid-summary-table span.left {
          text-align: left;
          padding-left: 5px; }
    /* line 164, grid.scss */
    .dashboard-container div.grid-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 20% 35% repeat(3, 10%) 15%; }
    /* line 168, grid.scss */
    .dashboard-container div.grid-apps-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 15% 45% 20% 20%; }
    /* line 172, grid.scss */
    .dashboard-container div.grid-environments-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 30% repeat(10, 7%); }
    /* line 176, grid.scss */
    .dashboard-container div.grid-comp-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 50% 20% 30%; }
    /* line 180, grid.scss */
    .dashboard-container div.grid-report-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 40% repeat(4, 15%); }
    /* line 185, grid.scss */
    .dashboard-container p {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto; }
      /* line 187, grid.scss */
      .dashboard-container p.link {
        color: #555555; }
      /* line 190, grid.scss */
      .dashboard-container p.info {
        color: #31708f;
        background: #d9edf7;
        padding: 5px 2px; }
      /* line 195, grid.scss */
      .dashboard-container p.danger {
        color: #a94442;
        background: #f2dede;
        padding: 5px 2px; }

  /* line 202, grid.scss */
  .dashboard-title {
    grid-column-start: 2;
    grid-column-end: span 9;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: span 8;
    border-bottom: #66666655 solid 1px;
    margin-bottom: 20px; }

  /* line 209, grid.scss */
  .dashboard-select-left {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    margin-right: auto;
    margin-left: auto; }

  /* line 212, grid.scss */
  .dashboard-select-right {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: 2;
    margin-right: auto;
    margin-left: auto; }

  /* line 215, grid.scss */
  .dashboard-input {
    grid-column-start: auto;
    grid-column-end: span 2;
    grid-row-start: 3;
    text-align: center; }

  /* line 219, grid.scss */
  .reset-button, .search-button, .env-search-button, .report-reset-button, .report-search-button {
    grid-row-start: 4;
    text-align: center; }

  /* line 223, grid.scss */
  .reset-button {
    grid-column-start: 2; }

  /* line 226, grid.scss */
  .env-search-button {
    grid-column-start: 5; }

  /* line 229, grid.scss */
  .search-button {
    grid-column-start: 7; }

  /* line 232, grid.scss */
  .report-reset-button {
    grid-column-start: 2; }

  /* line 235, grid.scss */
  .report-search-button {
    grid-column-start: 5; }

  /* line 238, grid.scss */
  .dashboard-footer {
    grid-column-start: 2;
    grid-column-end: span 8;
    grid-row-start: auto; }

  /* line 243, grid.scss */
  .grid-report-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-report-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-report-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-report-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 5;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-report-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 248, grid.scss */
  .grid-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 6;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 253, grid.scss */
  .grid-apps-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-apps-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-apps-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-apps-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 4;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-apps-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 258, grid.scss */
  .grid-environments-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-environments-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-environments-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-environments-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 11;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-environments-table span.left {
      text-align: left;
      padding-left: 5px; }
    /* line 260, grid.scss */
    .grid-environments-table span em {
      font-size: 0.75em; }

  /* line 266, grid.scss */
  .grid-comp-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-comp-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-comp-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-comp-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 3;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-comp-table span.left {
      text-align: left;
      padding-left: 5px; } }
@media (max-width: 910px) {
  /* line 273, grid.scss */
  .dashboard-container {
    display: grid;
    width: 100%;
    grid-template-columns: 5% repeat(9, 10%) 5%;
    grid-template-rows: 1fr; }
    /* line 276, grid.scss */
    .dashboard-container form {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: 2;
      display: inline-grid; }
    /* line 281, grid.scss */
    .dashboard-container div.grid-report-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 40% repeat(4, 15%); }
    /* line 285, grid.scss */
    .dashboard-container div.grid-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 20% 35% repeat(3, 10%) 15%; }
    /* line 289, grid.scss */
    .dashboard-container div.grid-apps-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 15% 45% 20% 20%; }
    /* line 293, grid.scss */
    .dashboard-container div.grid-environments-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 20% repeat(10, 8%); }
    /* line 297, grid.scss */
    .dashboard-container div.grid-comp-table {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      display: inline-grid;
      grid-template-columns: 50% 20% 30%; }
    /* line 302, grid.scss */
    .dashboard-container p {
      grid-column-start: 2;
      grid-column-end: span 9;
      grid-row-start: auto;
      margin-top: 1em; }
      /* line 305, grid.scss */
      .dashboard-container p.link {
        color: #555555; }
      /* line 308, grid.scss */
      .dashboard-container p.info {
        color: #31708f;
        background: #d9edf7;
        padding: 5px 2px; }
      /* line 313, grid.scss */
      .dashboard-container p.danger {
        color: #a94442;
        background: #f2dede;
        padding: 5px 2px; }

  /* line 320, grid.scss */
  .dashboard-title {
    grid-column-start: 2;
    grid-column-end: span 9;
    grid-row-start: 1; }

  /* line 323, grid.scss */
  .dashboard-select-left {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: auto;
    margin-right: auto;
    margin-left: auto; }

  /* line 326, grid.scss */
  .dashboard-select-right {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: auto;
    margin-right: auto;
    margin-left: auto; }

  /* line 329, grid.scss */
  .dashboard-input {
    grid-column-start: auto;
    grid-column-end: span 4;
    grid-row-start: auto;
    text-align: center; }

  /* line 333, grid.scss */
  .dashboard-button {
    grid-column-start: 4;
    grid-row-start: 4;
    text-align: center; }

  /* line 338, grid.scss */
  .dashboard-footer {
    grid-column-start: 2;
    grid-column-end: span 8;
    grid-row-start: auto; }

  /* line 342, grid.scss */
  .grid-report-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-report-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-report-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-report-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 5;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-report-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 347, grid.scss */
  .grid-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 6;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 352, grid.scss */
  .grid-apps-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-apps-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-apps-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-apps-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 4;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-apps-table span.left {
      text-align: left;
      padding-left: 5px; }

  /* line 357, grid.scss */
  .grid-environments-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-environments-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-environments-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-environments-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 11;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-environments-table span.left {
      text-align: left;
      padding-left: 5px; }
    /* line 359, grid.scss */
    .grid-environments-table span em {
      font-size: 0.75em; }

  /* line 365, grid.scss */
  .grid-comp-table span {
    text-align: center;
    line-height: 2em;
    vertical-align: middle; }
    /* line 53, grid.scss */
    .grid-comp-table span.odd {
      background: #dddddd; }
    /* line 54, grid.scss */
    .grid-comp-table span.table-header {
      background: #a4edf7;
      font-weight: 600; }
    /* line 57, grid.scss */
    .grid-comp-table span.table-title {
      text-align: center;
      color: #f0ffff;
      line-height: 2.5em;
      background: #216f9f;
      grid-column-start: 1;
      grid-column-end: span 3;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 2em; }
    /* line 60, grid.scss */
    .grid-comp-table span.left {
      text-align: left;
      padding-left: 5px; } }
