/* fonts */
$fonts: sans-serif;
$font-body: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;

/* sizes */
$font-size: 0.9em;
$full-screen: 900px;
$line-height: 1.1em;
$max-screen: 910px;
$weight: 600;
$sweight: 800;
$h1-size: 25px;
$separator: 82px;

/* colours */
$azure: #a4edf7;
$blue: #216f9f;
$bright-blue: #31708f;
$danger-red: #a94442;
$dark-blue: #231a5c;
$light-grey: #dddddd;
$mid-grey: #555555;
$pale-blue: #d9edf7;
$pale-grey: #eeeeee;
$pale-pink: #f2dede;
$vpale-grey: #f0ffff;
